<section class="table-wrapper">
    <table class="table">
        <thead>
            <tr>
                <th>Subject</th>
                <th>Rating</th>
            </tr>
        </thead>
    ${subjectsList.map(ind =>
        `<tr>
            <td>${ind.subject}</td>
            <td>${ind.rating}</td>
        </tr>`
        ).join('')}            
    </table>
</section>
<section class="sec-table-wrap">
    <h3 class="small-title">How Do You Feel?</h3>
    <form action="/" method="POST">
        <label>Subject 
            <select class="dropdowns" name="subject">
                <option value=" ">--Please choose an option--</option>
            <option value="HTML">HTML</option>
                <option value="CSS">CSS</option>
                <option value="Javascript">Javascript</option>
                <option value="PostgreSQL">PostgreSQL</option>
                <option value="Node">Node</option>
                <option value="Express">Express</option>
            </select>
        </label>
        <label>Ranking 
            <select class="dropdowns" name="rating">
                <option value=" ">--Please choose an option--</option>
                <option value="Awesome, 5">Awesome, 5</option>
                <option value="Great, 4">Great, 4</option>
                <option value="Good, 3">Good, 3</option>
                <option value="Okay, 2">Okay, 2</option>
                <option value="Poor, 1">Poor, 1</option>
                <option value="Unranked, 0">Unranked, 0</option>
            </select>
        </label>
        <div class="button-wrap">
            <button type="submit" class='is-primary'>Submit</button>
        </div>
    </form>
</section>
